In [74]:
import numpy as np

import pandas as pd

import pymysql as mysql
import matplotlib.pyplot as plt
import pandas as pd
from sqlalchemy import create_engine

conn=mysql.connect(host='localhost',port=int(3306),user= 'sultan',passwd='sultan',db='imdb')

In [86]:
csv_file_path_title = '/Users/smsultanmahmudrahat/Downloads/department/Data_engineering/Project/imbd/code /new_csv_file 2/title_movie.basics.csv'
csv_file_path_director = '/Users/smsultanmahmudrahat/Downloads/department/Data_engineering/Project/imbd/code /new_csv_file 2/Final_director_New.csv'
csv_file_path_movie = '/Users/smsultanmahmudrahat/Downloads/department/Data_engineering/Project/imbd/code /new_csv_file 2/Final_Movie_Industry_kaggle.csv'
csv_file_path_streaming = '/Users/smsultanmahmudrahat/Downloads/department/Data_engineering/Project/imbd/code /new_csv_file 2/Final_Movie_streaming_kaggle.csv'
csv_file_path_star = '/Users/smsultanmahmudrahat/Downloads/department/Data_engineering/Project/imbd/code /new_csv_file 2/Final_star_New.csv'
csv_file_path_writer = '/Users/smsultanmahmudrahat/Downloads/department/Data_engineering/Project/imbd/code /new_csv_file 2/Final_writer_New.csv'

In [87]:
df_streaming=pd.read_csv(csv_file_path_streaming)
df_streaming.head()

,Unnamed: 0,ID,Title,Year,Age,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Type,tconst
0,0,1,The Irishman,2019,18+,98/100,1,0,0,0,0,tt1302006
1,1,2,Dangal,2016,7+,97/100,1,0,0,0,0,tt5074352
2,2,3,David Attenborough: A Life on Our Planet,2020,7+,95/100,1,0,0,0,0,tt11989890
3,3,4,Lagaan: Once Upon a Time in India,2001,7+,94/100,1,0,0,0,0,tt0169102
4,4,5,Roma,2018,18+,94/100,1,0,0,0,0,tt0383862

In [77]:


import pandas as pd
from sqlalchemy import create_engine




# Database connection parameters
db_username = 'sultan'
db_password = 'sultan'
db_host = 'localhost'  # e.g., 'localhost'
db_database = 'IMDB2'  # Database name

# Read CSV file using pandas
df_title = pd.read_csv(csv_file_path_title)

# Create a connection to your MySQL database
engine = create_engine(f'mysql+mysqlconnector://{db_username}:{db_password}@{db_host}/{db_database}')

# Insert data into the table, replace if the same primary key (tconst) exists
df_title.to_sql('Movies_Directory', con=engine, if_exists='replace', index=False)

-1

In [78]:
# Read CSV file using pandas
df_director = pd.read_csv(csv_file_path_director)

# Create a connection to your MySQL database
engine = create_engine(f'mysql+mysqlconnector://{db_username}:{db_password}@{db_host}/{db_database}')

# Insert data into the table, replace if the same primary key (tconst) exists
df_director.to_sql('Director', con=engine, if_exists='replace', index=False)

-1

In [90]:
# Read CSV file using pandas
df_star = pd.read_csv(csv_file_path_star)

# Create a connection to your MySQL database
engine = create_engine(f'mysql+mysqlconnector://{db_username}:{db_password}@{db_host}/{db_database}')

# Insert data into the table, replace if the same primary key (tconst) exists
df_star.to_sql('Star', con=engine, if_exists='replace', index=False)

-1

In [89]:
# Read CSV file using pandas
df_writer = pd.read_csv(csv_file_path_writer)

# Create a connection to your MySQL database
engine = create_engine(f'mysql+mysqlconnector://{db_username}:{db_password}@{db_host}/{db_database}')

# Insert data into the table, replace if the same primary key (tconst) exists
df_writer.to_sql('Writer', con=engine, if_exists='replace', index=False)

-1

In [91]:
# Read CSV file using pandas
df_movie = pd.read_csv(csv_file_path_movie)
df_movie.head()

,name,rating,genre,year,released,score,votes,director,writer,star,country,budget,gross,company,runtime,tconst
0,The Shining,R,Drama,1980,"June 13, 1980 (United States)",8.4,927000.0,Stanley Kubrick,Stephen King,Jack Nicholson,United Kingdom,19000000.0,46998772.0,Warner Bros.,146.0,tt0081505
1,The Blue Lagoon,R,Adventure,1980,"July 2, 1980 (United States)",5.8,65000.0,Randal Kleiser,Henry De Vere Stacpoole,Brooke Shields,United States,4500000.0,58853106.0,Columbia Pictures,104.0,tt0080453
2,Star Wars: Episode V - The Empire Strikes Back,PG,Action,1980,"June 20, 1980 (United States)",8.7,1200000.0,Irvin Kershner,Leigh Brackett,Mark Hamill,United States,18000000.0,538375067.0,Lucasfilm,124.0,tt0080684
3,Airplane!,PG,Comedy,1980,"July 2, 1980 (United States)",7.7,221000.0,Jim Abrahams,Jim Abrahams,Robert Hays,United States,3500000.0,83453539.0,Paramount Pictures,88.0,tt0080339
4,Caddyshack,R,Comedy,1980,"July 25, 1980 (United States)",7.3,108000.0,Harold Ramis,Brian Doyle-Murray,Chevy Chase,United States,6000000.0,39846344.0,Orion Pictures,98.0,tt0080487

In [92]:
# Read CSV file using pandas
df_movie = pd.read_csv(csv_file_path_movie)

# Create a connection to your MySQL database
engine = create_engine(f'mysql+mysqlconnector://{db_username}:{db_password}@{db_host}/{db_database}')

# Insert data into the table, replace if the same primary key (tconst) exists
df_movie.to_sql('Movies_Box_office', con=engine, if_exists='replace', index=False)

-1

In [88]:
# Read CSV file using pandas
df_streaming = pd.read_csv(csv_file_path_streaming)

# Create a connection to your MySQL database
engine = create_engine(f'mysql+mysqlconnector://{db_username}:{db_password}@{db_host}/{db_database}')

# Insert data into the table, replace if the same primary key (tconst) exists
df_streaming.to_sql('Streaming', con=engine, if_exists='replace', index=False)

-1